* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Nunito', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 40px;
}



.width-log-foot{
    width:50px;
}

.butt-hov:hover{
    transform: scale(105%);

}

.bg-center{
    background-color: white;
    box-shadow: 0px 5px 15px 10px rgb(198, 210, 216);
    width:90%;

    margin: 0 auto;
}

.bg-lblue{
    background-color: rgba(247, 252, 255, 0.849);
}